@import '../../styles/definitions/colors';
@import '../../styles/definitions/keyframes';

$toggle-diam: 22px;
$dimple-diam: 5px;

.wrapper {
  transition: box-shadow 0.5s ease-in-out;

  &__slideOut {
    animation: fade_out_bck 0.5s ease-in-out forwards;
  }

  &__slideUp {
    animation: slide_in_bot 0.2s ease-in-out both;
  }

  &__isDragging {
    box-shadow: 0 0 4px  $gray-lighter;
  }
}

.row {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: $white;

  &:hover {
    cursor: pointer;

    .input {
      color: $pink;
    }
  }

  &__slideOut {
    animation: slide_out_right 1s ease-in-out both;
  }
}

.handle {
  position: relative;
  width: calc(1.5rem + 14px);
  height: 40px;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  &__dimple {
    position: absolute;
    height: $dimple-diam;
    width: $dimple-diam;
    border-radius: $dimple-diam / 2;

    background-color: $gray-lighter;
    transition: background-color 0.20s ease-in-out;

    &:nth-of-type(2n-1) { // odd
      left: 0.75rem;
    }
    &:nth-of-type(2n) { // even
      right: 0.75rem;
    }
    &:nth-of-type(1), &:nth-of-type(2) { // top
      top: 9px;
    }
    &:nth-of-type(3), &:nth-of-type(4) { // middle
      top: calc(50% - #{$dimple-diam / 2});
    }
    &:nth-of-type(5), &:nth-of-type(6) { // bottom
      bottom: 9px;
    }
  }

  &:hover {
    .handle__dimple {
      background-color: $gray-light;
    }
  }
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $toggle-diam;
  height: $toggle-diam;
  border-radius: $toggle-diam / 2;
  border: 1px solid $gray-lighter;
  transition: all 0.2s linear;

  &__checkmark {
    width: calc(#{$toggle-diam} - 14px);
    height: auto;
    g {
      stroke: $gray-lighter;
      stroke-width: 26;
      transition: all 0.2s linear;
    }
  }

  &:hover {
    border-color: $green;
    transition: all 0.4s linear;

    g {
      stroke: $green;
      transition: all 0.4s linear;
    }
  }
}

.input {
  margin-left: 1.56rem;
  border-bottom: 1px solid $gray-lighter;
  border: none;
  font-size: 1.33rem;
  width: 600px;
}

.border {
  position: relative;
  width: 80%;
  height: 1px;
  left: 10%;
  background-color: $gray-lighter;

  &__fadeOut {
    animation: fade_out_bck 0.5s;
  }
}