@import '../../styles/definitions/colors';
@import '../../styles/definitions/keyframes';

$toggle-diam: 22px;

.wrapper {
  transition: all 1s;

  &__slideOut {
    animation: fade_out_bck 0.5s ease-in-out forwards;
  }

  &__slideUp {
    animation: slide_in_bot 0.2s ease-in-out both;
  }
}

.row {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-left: 1.77rem;

  &:hover {
    cursor: pointer;

    .input {
      color: $pink;
    }
  }

  &__slideOut {
    animation: slide_out_right 1s ease-in-out both;
  }
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $toggle-diam;
  height: $toggle-diam;
  border-radius: $toggle-diam / 2;
  border: 1px solid $gray-lighter;
  transition: all 0.2s linear;

  &__checkmark {
    width: calc(#{$toggle-diam} - 14px);
    height: auto;
    g {
      stroke: $gray-lighter;
      stroke-width: 26;
      transition: all 0.2s linear;
    }
  }

  &:hover {
    border-color: $green;
    transition: all 0.4s linear;

    g {
      stroke: $green;
      transition: all 0.4s linear;
    }
  }
}

.input {
  margin-left: 1.56rem;
  border-bottom: 1px solid $gray-lighter;
  border: none;
  font-size: 1.33rem;
  width: 600px;
}

.border {
  position: relative;
  width: 80%;
  height: 1px;
  left: 10%;
  background-color: $gray-lighter;

  &__fadeOut {
    animation: fade_out_bck 0.5s;
  }
}