@import '../../styles/definitions/colors';

$toggle-diam: 26px;

.row {
  display: flex;
  align-items: center;
  height: 65px;
  width: 100%;
  padding-left: 1.77rem;

  &:hover {
    color: $pink;
    cursor: pointer;
  }
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $toggle-diam;
  height: $toggle-diam;
  border-radius: $toggle-diam / 2;
  border: 2px solid $gray-lighter;
  transition: all 0.2s linear;

  &__checkmark {
    width: calc(#{$toggle-diam} - 14px);
    height: auto;
    g {
      stroke: $gray-lighter;
      stroke-width: 26;
      transition: all 0.2s linear;
    }
  }

  &:hover {
    border-color: $green;
    transition: all 0.4s linear;

    g {
      stroke: $green;
      transition: all 0.4s linear;
    }
  }
}

.title {
  margin-left: 1.77rem;
}