// Sizes
$container: 1262px;
$site-width: 1262px;
$gutter: 24px;
$gutter-desktop: 32px;

// Media Queries
$HDPI: 'only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi)';

$max-phones: 'max-width: 500px';
$min-phones: 'min-width: 501px';

$max-tablets: 'max-width: 992px';
$min-tablets: 'min-width: 993px';

$max-tablets--landscape: 'max-width: 1024px';
$min-tablets--landscape: 'min-width: 1025px';

$max-laptop: 'max-width: 1200px';
$min-laptop: 'min-width: 1201px';

$max-desktop: 'max-width: 1600px';
$min-desktop: 'min-width: 1601px';
$header: 'screen and (min-width: #{$container})';
