// Colors
$metal: #313030;
$gray: #888C92;
$gray-dark: #2b2b2b;
$gray-darker: #161616;
$gray-light: #CACCD0;
$gray-lighter: #E9EDF4;
$black: #282828;
$white: #fff;
$white-dark: #f8f8f8;
$white-darker: #eeeeee;
$slate: #d8d8d8;
$red: #fc7459;
$red-light: lighten($red, 0.35);
$purple: #7A2BD2;
$purple-dark: #40356E;
$blue-light: #8DBBFF;

$primary: $purple;
$secondary: $blue-light;
$base-font-color: $black;

// Blue filter over photos
$blue-filter: rgba(#C6DAFF, 0.8);

// Color Map
$colors: (
  // Brand Colors
    primary: $primary,
    secondary: $secondary,
    accent: $red-light,
// Gray Colors
    gray: $gray,
    gray-dark: $gray-dark,
    gray-darker: $gray-darker,
    // gray-darkest: $gray-darkest,
    gray-light: $gray-light,
    gray-lighter: $gray-lighter,
    // gray-lightest: $gray-lightest,

    // dark-blue: $dark-blue,
    
    white: $white,
);

// Social Colors Guys, Social Colors
$twitter: #00aced;
$facebook: #3b5998;
$linkedin: #007bb6;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;
$github: #703083;
$instagram: #050708;
