$padding-small: 0.25em;
$padding-base: 1em;
$padding-large: 1.5em;
$padding-extra-large: 2em;

$padding-base-vertical: 1rem;
$padding-base-horizontal: 1rem;
$padding-xl-vertical: 3rem;
$padding-xl-horizontal: 3rem;
$padding-large-vertical: 2rem;
$padding-large-horizontal: 2rem;
$padding-small-vertical: 1.5rem;
$padding-small-horizontal: 1.5rem;
$padding-xs-vertical: 0.5rem;
$padding-xs-horizontal: 0.5rem;
