@import "../definitions/colors";
@import "../definitions/mixins";
@import "../definitions/fonts";
@import "../definitions/breakpoints";

@each $color-name, $color-variable in $colors {
  // Text Color
  .text_#{"" + $color-name} {
    color: $color-variable;
  }
}

.text_shadow {
  text-shadow: 0 0 30px $gray-dark;
}

.link_undecorated {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1, .h1, h2, .h2,
h3, .h3, h4, .h4, path {
  // transition: all 0.25s ease-in-out;
}

h1, .h1 { // LandingPage Title
  @include font_loader($primary-family-bold, 5, 'n');
  font-size: 2.44rem;
  line-height: 2.44rem;
  letter-spacing: 1px;
  @media (#{$min_tablets}) {
    font-size: 2.44rem;
  }
}

h2, .h2 { // Details Title
  @include font_loader($primary-family-bold, 5, 'n');
  font-size: 1.95rem;
  line-height: 1.95rem;
  letter-spacing: 1px;
  @media (#{$min_tablets}) {
    font-size: 1.95rem;
  }
}

h3, .h3 { // Thumbnail Title, Page Buttons, Next Button, LandingPage Button
  @include font_loader($primary-family-bold, 5, 'n');
  font-size: 1.56rem;
  line-height: 1.56rem;
  @media (#{$min_tablets}) {
    font-size: 1.56rem;
  }
}

h4, .h4 { // Details Subtitles, Search Bar Selections
  @include font_loader($primary-family, 5, 'n');
  font-size: 1.25rem;
  line-height: 1.25rem;
  @media (#{$min_tablets}) {
    font-size: 1.25rem;
  }
}

h5, .h5 { // Thumbnail Subtitle,
  @include font_loader($primary-family, 5, 'n');
  font-size: 1.25rem;
  line-height: 1.56rem;
  @media (#{$min_tablets}) {
    font-size: 1.25rem;
  }
}

h6, .h6 { // Search Bar Categories
  @include font_loader($primary-family-bold, 5, 'n');
  font-size: 1rem;
  line-height: 1.125rem;
  letter-spacing: 0.35px;
  line-height: 1.8rem;
  color: $gray;
  @media (#{$min_tablets}) {
    font-size: 1rem;
  }
}

.sectionBody { // Details Content
  @include font_loader($primary-family, 3, 'n');
  font-size: 1rem;
  line-height: 1.5rem;
  @media (#{$min-tablets}) {
    font-size: 1rem;
  }
}

.bold {
  @include font_loader($primary-family, 7, 'n');
}

.remark-content, .remark_content {
  margin-bottom: 1.5rem;
  line-height: 1.2rem;

  p {
    @include font_loader($primary-family, 4, 'n');
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 1.2rem;
  }

  li, .li {
    @include font_loader($primary-family, 9, 'n');
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;

    @media(#{$min_tablets}) {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.text-half-spaced {
  line-height: 1.5rem;
}