@import '../../styles/definitions/colors';

.header {
  padding: 0 24px;
  border-bottom: 1px solid $gray-lighter;
}

.row {
  position: relative;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: auto;
  height: 55px;
  vertical-align: middle;
}

.search {
  position: absolute;
  left: calc(300px + 1.33rem);
}