@import '../../styles/definitions/breakpoints';
.section {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #FFF1DA;

  @media (#{$min-phones}) {
    display: block;
    padding-top: 10rem;
  }
}
.row {
  justify-content: center;
}