@import '../../styles/definitions/colors';

.component {
  width: calc(100% - 300px);
  overflow: hidden;
}

.row {
  position: relative;
  z-index: 300;
  background-color: $white; // Hides animating tasks while being added

  padding: 1.33rem 1.5rem;
  justify-content: space-between;
}

.toggle {
  color: $gray-light;
  padding-top: 0.5rem
}

.subtitle {
  margin: 0.88rem 0 0.88rem 4.6rem;
}